Flask==3.0.0
beautifulsoup4==4.12.2
requests==2.31.0
schedule==1.2.2
user-agents==2.2.0
newspaper3k
lxml_html_clean
gunicorn==21.2.0
gevent==24.2.1
azure-data-tables==12.4.4
flake8==7.0.0
pytest==7.4.3
